body {
    color: white;
}

.container-fluid {
    max-height: 100vh;
}

main {
    background-color: rgba(20,25,34,255);
    height: calc(100vh - 90px);
    width: 100%;
}

/* sidebar */

.sidebar {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-1, .sidebar-2 {
    height: 80px;
    background-color: darkred;
}

/* content */

.content {
    height: 100%;
    overflow-y: scroll;
}

/* topbar */

.topbar {
    background-color: rgba(8,11,18,100);
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    max-width: calc((100% / 12) * 10);
    flex-basis: calc((100% / 12) * 10);
    width: 100%;
}

.topbar button {
    margin-right: 20px;
}

/* navbar */

.navbar {
    background-color: rgb(143, 88, 38);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text {
    border: 1px solid white;
}

/* section with main content (albums + name artists) */

section {
    margin-top: 90px;
}

.recently-played {
    margin-top: 15px;
    border: 2px solid white;
    width: 100%;
    height: 200px;
    padding: 0 10px;
}

.playlist-created {
    margin-top: 15px;
    border: 2px solid white;
    width: 100%;
    height: 200px;
    padding: 0 10px;
}

.most-popular-artists {
    margin-top: 15px;
    border: 2px solid white;
    width: 100%;
    height: 200px;
    padding: 0 10px;
}

/* footer */

footer {
    background-color: rgba(40,40,40,255);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    background-color: rgb(155, 94, 73);
    height: 90px;
    width: 180px;
    display: flex;
    align-items: center;
}

