body {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    max-height: 100vh;
}

main {
    background-color: rgba(20,25,34,255);
    height: calc(100vh - 90px);
    width: 100%;
}

/* sidebar */

.sidebar {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-sidebar {
    margin-bottom: 20px;
}

.home-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
}

.sidebar-1, .sidebar-2 {
    padding: 20px;
}

/* content */

.content {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

/* topbar */

.topbar {
    background-color: rgba(8,11,18,0.5);
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
}

.topbar button {
    margin-right: 20px;
    background-color: rgba(8,11,18,0.5);
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    width: 240px;
}

/* navbar */

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text {
    padding: 0 20px;
    font-size: 12px;
}

/* section with div albums + name artists */

section {
    margin-top: 90px;
}

section h1 {
    color: white;
}

.recently-played, .playlist-created, .most-popular-artists {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    padding: 0 20px;
}

/* footer */

footer {
    background-color: rgba(40,40,40,255);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    height: 90px;
    width: 180px;
    display: flex;
    align-items: center;
}

