body {
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    max-height: 100vh;
}

main {
    background-color: rgba(20,25,34,255);
    height: calc(100vh - 90px);
    width: 100%;
}

ul {
    list-style: none;
}

/* sidebar */

.sidebar {
    width: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    padding: 0 20px 20px 20px;
    font-size: 11px;
    overflow: hidden;
}

.sidebar-1 {
    height: calc(100% - 60px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.logo-sidebar {
    width: 150px;
}

.sidebar-1 > ul > li:hover, .install-app-sidebar:hover, .navbar-text:hover {
    color: white;
    cursor: pointer;
}

.home-sidebar {
    margin-top: 10px;
}

.home-sidebar > li > i {
    font-size: 20px;
    padding-right: 6px;
}

.home-sidebar li, .playlist-sidebar li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.home-sidebar > li > .fa-home {color: white;}

.border-left-home-sidebar {
    border-left: 3px solid rgba(173,255,47,255);
    margin-left: -20px;
}

.border-left-home-sidebar > i {
    padding-left: 16px;
}

@media all and (max-width: 576px) {
    .logo-sidebar, .small-logo-sidebar-1 {width: 30px;}
    .big-logo-sidebar-1 {display: none;}
    .sidebar {width: 50px; padding: 5px 10px;}
    .sidebar-1 {margin-top: 0;}
    .home-sidebar {margin-top: 5px; padding-left: 2px;}
    .home-sidebar > li > i {font-size: 22px; padding-right: 0;} 
    .content {width: calc(100% - 50px);}
    ul > li > span, .playlist-sidebar, .playlist-sidebar-name, ul > hr {display: none;}
    .border-left-home-sidebar {display: none;}
}

@media all and (min-width: 577px) {
    .small-logo-sidebar-1 {display: none;}
}

.playlist-sidebar li:first-child {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.playlist-sidebar > li > i {
    font-size: 30px;
    padding-right: 8px;
}

.playlist-sidebar li:first-child:hover {
    cursor: default
}

.playlist-sidebar-name {
    overflow-y: auto;
}

.playlist-sidebar-name::-webkit-scrollbar-track, .content::-webkit-scrollbar-track {  box-shadow: inset 0 0 5px grey; border-radius: 10px;}

.playlist-sidebar-name::-webkit-scrollbar {width: 5px;}

.playlist-sidebar-name::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb {background: gray; border-radius: 10px;}

.content::-webkit-scrollbar {width: 10px;}

.playlist-sidebar-name > li {
    padding: 4px 0;
}

/* Sidebar 2 */

.sidebar-2 {
    height: 60px;
}

.hr-sidebar {
    margin: 8px 0;
}

.install-app-sidebar .far {
    padding-right: 6px;
}

.username-sidebar {
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.username-sidebar .fas {
    font-size: 24px;
    color: gray;
    padding-right: 6px;
}

@media all and (max-width:576px) {
    .sidebar-2 {margin-top: 40px;}
    .sidebar-2 > li:first-child {text-align: center; padding-bottom: 6px;}
}

/* content */

.content {
    height: 100%;
    overflow-y: scroll;
    width: calc(100% - 250px)
}

/* topbar */

.topbar {
    background-color: rgba(8,11,18,0.5);
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    z-index: 1001;
}

.topbar button {
    margin-right: 20px;
    background-color: rgba(8,11,18,0.5);
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    width: 240px;
}

.topbar button:hover {
    font-size: 16px;
    cursor: pointer;
}

@media all and (max-width:576px) {
    .content, .topbar {width: calc(100% - 50px);}    
}

/* navbar */

.navbar {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.underline-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr-navbar {
    height: 1px;
    width: 28px;
    background-color: rgba(173,255,47,255);
    text-align: center;
}

.navbar-text {
    padding: 0 20px;
    font-size: 12px;
}

@media all and (max-width: 576px) {
    .navbar {height: 80px; margin-bottom: 20px}
    .navbar-text {padding-bottom: 10px; padding-top: 15px;}
}

/* section with div albums + name artists */

section {
    margin-top: 90px;
}

section h1 {
    color: white;
    width: 100%;
    margin-bottom: 6px;
}

.playlist-created p, .most-popular-artists p {
    width: 100%;
    padding-bottom: 16px;
}

[class^="album-"] > p {
    text-align: center;
    font-size: 12px;
}

section h6 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    padding: 8px 0 4px 0;
}

.recently-played, .playlist-created, .most-popular-artists {
    margin-top: 30px;
    width: 100%;
    padding: 0 20px;
}

[class^="album-"] {
    width: 180px;
    margin: 10px;
}

.album-1-rp, .album-1-pc, .album-1-mpa {
    margin-left: 0;
}

[class^="album-"] > .cover > img {
    width: 100%;
}

.cover {
    position: relative;
}

.hidden-play-button {
    color: white;
    font-size: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    visibility: hidden;
}

.cover:hover img {
    opacity: 0.5;
    cursor: pointer;
}

.cover:hover i {
    visibility: visible;
    cursor: pointer;
}

.radius-img-mpa {
    border: 1px solid transparent;
    border-radius: 50%;
}

@media all and (max-width: 576px) {
    [class^="album-"] {width: 200px; margin: 4px;}
    .album-1-rp, .album-1-pc, .album-1-mpa {margin-left: 0;}
    section h1 {margin-bottom: 12px;}
}

@media all and (min-width: 577px) and (max-width:768px) {
    [class^="album-"] {width: 160px; margin: 6px;}
    .album-1-rp, .album-1-pc, .album-1-mpa {margin-left: 0;}
    section h1 {margin-bottom: 12px;}
}

@media all and (min-width: 769px) and (max-width:992px) {
    [class^="album-"] {width: 140px; margin: 8px;}
    .album-1-rp, .album-1-pc, .album-1-mpa {margin-left: 0;}
    section h1 {margin-bottom: 12px;}
}

/* START FOOTER */

footer {
    background-color: rgba(40,40,40,255);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left, .footer-end {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 25%;
}

.footer-center {
    height: 100%;
    width: calc(100% - 460px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50%;
}

/* footer left */

.image-album-footer-left {
    width: 20%;
}

.name-song-footer-left {
    width: 50%;
}

.icons-footer-left {
    width: 15%;
    font-size: 14px;
}

.width-img {
    width: 100%;
}

.name-song-footer-left h6 {
    font-size: 14px;
    color: white;
    font-weight: bolder;
}

.name-song-footer-left p {
    font-size: 10px;
}

.name-song-footer-left:hover p {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

/* footer center */

.buttons-footer-center, .playbar-footer-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-footer-center {
    width: 50%;
    height: 45px;
}

.playbar-footer-center {
    width: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-footer-center > div {
    flex-basis: 100px;
    text-align: center;
}

.buttons-footer-center > div > i {
    color: white;
}

.bigger-button-footer-center {
    font-size: 30px;
}

.bigger-button-footer-center:hover {
    font-size: 35px;
    cursor: pointer;
}

.playline-footer-center {
    width: 100%;
    height: 4px;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.playline-footer-center-bg-color {
    width: 30%;
    height: 4px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50px;
}

.playline-footer-center-bg-color:hover {
    width: 30%;
    height: 4px;
    background-color: rgba(173,255,47,255);
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
}

.time-footer-center {
    font-size: 14px;
}

/* footer end */

.icona-footer-end {
    color: white;
    width: 10%;
    font-size: 14px;
}

.playline-footer-end {
    width: 60%;
    height: 4px;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.playline-footer-end-bg-color {
    width: 20%;
    height: 4px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50px;
}

.playline-footer-end-bg-color:hover {
    width: 20%;
    height: 4px;
    background-color: rgba(173,255,47,255);
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
}

.playline-footer-center .fa-circle, .playline-footer-end .fa-circle {
    visibility: hidden;
}

.playline-footer-center:hover .fa-circle, .playline-footer-end:hover .fa-circle {
    visibility: visible;
    color: white;
}

.icons-footer-left .fa-heart:hover, .icons-footer-left .fa-folder:hover {
    color: white;
    cursor: pointer;
}

@media all and (max-width:576px) {
    .footer-left {width: 50%;}
    .footer-end {width: 50%;}
    .name-song-footer-left h6 {font-size: 12px;}
    .name-song-footer-left p {font-size: 10px;}
    .buttons-footer-center {width: 100%;}
    .footer-center {margin: 0 5px;}
    .playline-footer-end {width: 30%;}
}

