body {
    color: gray;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    max-height: 100vh;
}

main {
    background-color: rgba(20,25,34,255);
    height: calc(100vh - 90px);
    width: 100%;
}

ul {
    list-style: none;
}

/* sidebar */

.sidebar {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
    overflow: hidden;
    padding: 20px;
    font-size: 11px;
}

.sidebar-1 {
    min-height: 470px;
    display: flex;
    flex-direction: column;
}

.home-sidebar {
    padding: 15px 0;
}

.home-sidebar > li > i {
    font-size: 20px;
    padding-right: 6px;
    vertical-align: center;
}

.home-sidebar li, .playlist-sidebar li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.playlist-sidebar {
    flex-shrink: 1;
    overflow-y: auto;
}


/* ADD CSS SELECTOR FIRST-CHILD */
.first-child {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.playlist-sidebar > li > i {
    font-size: 30px;
    padding-right: 8px;
}

/* Sidebar 2 */

.sidebar-2 {
    height: 150px;
}

hr {
    margin: 8px 0;
}

.install-app-sidebar .far {
    padding-right: 6px;
}

.username-sidebar {
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.username-sidebar .fas {
    font-size: 24px;
    color: gray;
    padding-right: 6px;
}

/* content */

.content {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

/* topbar */

.topbar {
    background-color: rgba(8,11,18,0.5);
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
}

.topbar button {
    margin-right: 20px;
    background-color: rgba(8,11,18,0.5);
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    width: 240px;
}

/* navbar */

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text {
    padding: 0 20px;
    font-size: 12px;
}

/* section with div albums + name artists */

section {
    margin-top: 90px;
}

section h1 {
    color: white;
    width: 100%;
    margin-bottom: 6px;
}

.playlist-created p, .most-popular-artists p {
    width: 100%;
    padding-bottom: 16px;
}

[class^="album-"] > p {
    text-align: center;
    font-size: 12px;
}

section h6 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    padding: 8px 0 4px 0;
}

.recently-played, .playlist-created, .most-popular-artists {
    margin-top: 30px;
    width: 100%;
    padding: 0 20px;
}

[class^="album-"] {
    width: 150px;
    margin: 10px;
}

.album-1-rp, .album-1-pc, .album-1-mpa {
    margin-left: 0;
}

[class^="album-"] > img {
    width: 100%;
}

.radius-img-mpa {
    border: 1px solid transparent;
    border-radius: 50%;
}

/* footer */

footer {
    background-color: rgba(40,40,40,255);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer left */

.footer-left, .footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width-img {
    height: 50px;
}

[class*="-footer-left"] {
    padding: 8px;
}

.name-song-footer-left h6 {
    font-size: 12px;
    color: white;
    font-weight: bolder;
    line-height: 10px;
}

.name-song-footer-left p {
    font-size: 10px;
    color: white;
}

.icons-footer-left {
    margin-left: 20px;
}

/* footer center */

.buttons-footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-footer-center > div > i {
    padding: 0 15px;
    color: white;
}

.bigger-button-footer-center {
    font-size: 30px;
}

.playbar-footer-center {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.playline-footer-center {
    width: 400px;
    height: 4px;
    background-color: gray;
    margin: 0 20px;
    border: 1px solid transparent;
    border-radius: 50px;
}

.time-footer-center {
    font-size: 14px;
}

/* footer end */

.footer-end > div {
    font-size: 14px;
    padding: 0 10px;
    color: white;
}

.playline-footer-end {
    width: 100px;
    height: 4px;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-right: 10px;
}