body {
    color: gray;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    max-height: 100vh;
}

main {
    background-color: rgba(20,25,34,255);
    height: calc(100vh - 90px);
    width: 100%;
}

ul {
    list-style: none;
}



/* sidebar */

.sidebar {
    width: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    overflow: hidden;
    padding: 0 20px 20px 20px;
    font-size: 11px;
}

.sidebar-1 {
    margin-top: 20px;
    min-height: 470px;
    display: flex;
    flex-direction: column;
}

.logo-sidebar {
    width: 150px;
}


.sidebar-1 > ul > li:hover, .install-app-sidebar:hover, .navbar-text:hover {
    color: white;
}

.home-sidebar {
    margin-top: 10px;
}

.home-sidebar > li > i {
    font-size: 20px;
    padding-right: 6px;
}

.home-sidebar li, .playlist-sidebar li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

/* FIX IT */

@media all and (max-height: 550px) {
    .playlist-sidebar-name {
        height: 150px;
        flex-shrink: 1;
        overflow-y: scroll;
    }
}

.home-sidebar > li > .fa-home {color: white;}

@media all and (max-width: 576px) {
    .logo-sidebar, .small-logo-sidebar-1 {width: 30px;}
    .big-logo-sidebar-1 {display: none;}
    .sidebar {
        width: 50px; 
        padding: 5px 10px;
    }
    .home-sidebar {margin-top: 5px; padding-left: 2px;}
    .home-sidebar > li > i {font-size: 22px; padding-right: 0;} 
    .content {width: calc(100% - 50px);}
    ul > li > span, .playlist-sidebar, ul > hr {display: none;}
}

@media all and (min-width: 577px) {
    .small-logo-sidebar-1 {display: none;}
}

.playlist-sidebar li:first-child {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.playlist-sidebar > li > i {
    font-size: 30px;
    padding-right: 8px;
}

.playlist-sidebar-name > li {
    padding: 4px 0;
}

/* Sidebar 2 */

.sidebar-2 {
    height: 150px;
}

hr {
    margin: 8px 0;
}

.install-app-sidebar .far {
    padding-right: 6px;
}

.username-sidebar {
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.username-sidebar .fas {
    font-size: 24px;
    color: gray;
    padding-right: 6px;
}

@media all and (max-width:576px) {
    .sidebar-2 {margin-top: 40px;}
    .sidebar-2 > li:first-child {text-align: center; padding-bottom: 6px;}
}

/* content */

.content {
    height: 100%;
    overflow-y: scroll;
    width: calc(100% - 250px)
}

/* topbar */

.topbar {
    background-color: rgba(8,11,18,0.5);
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    z-index: 1001;
}

.topbar button {
    margin-right: 20px;
    background-color: rgba(8,11,18,0.5);
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    width: 240px;
}

.topbar button:hover {
    font-size: 16px;
}

@media all and (max-width:576px) {
    .content, .topbar {width: calc(100% - 50px);}    
}

/* navbar */

.navbar {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-text {
    padding: 0 20px;
    font-size: 12px;
}

@media all and (max-width: 576px) {
    .navbar {height: 80px; margin-bottom: 20px}
    .navbar-text {padding-bottom: 10px; padding-top: 15px;}
}

/* section with div albums + name artists */

section {
    margin-top: 90px;
}

section h1 {
    color: white;
    width: 100%;
    margin-bottom: 6px;
}

.playlist-created p, .most-popular-artists p {
    width: 100%;
    padding-bottom: 16px;
}

[class^="album-"] > p {
    text-align: center;
    font-size: 12px;
}

section h6 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    padding: 8px 0 4px 0;
}

.recently-played, .playlist-created, .most-popular-artists {
    margin-top: 30px;
    width: 100%;
    padding: 0 20px;
}

[class^="album-"] {
    width: 150px;
    margin: 10px;
}

.album-1-rp, .album-1-pc, .album-1-mpa {
    margin-left: 0;
}

[class^="album-"] > .cover > img {
    width: 100%;
}

.cover {
    position: relative;
}

.hidden-play-button {
    color: white;
    font-size: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    visibility: hidden;
}

.cover:hover img {
    opacity: 0.5;
}

.cover:hover i {
    visibility: visible;
}

.radius-img-mpa {
    border: 1px solid transparent;
    border-radius: 50%;
}

@media all and (max-width: 576px) {
    [class^="album-"] {width: 200px; margin: 4px;}
    .album-1-rp, .album-1-pc, .album-1-mpa {margin-left: 0;}
    section h1 {margin-bottom: 12px;}
}

/* START FOOTER */

footer {
    background-color: rgba(40,40,40,255);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* footer left */

.footer-left {
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-around;
    height: 100%;
    margin-left: 10px;
}

.image-album-footer-left {
    width: 50px;
}

.name-song-footer-left {
    width: 150px;
}

.icons-footer-left {
    width: 30px;
}

.width-img {
    width: 100%;
}

.name-song-footer-left {
    padding-left: 15px;
}

.name-song-footer-left h6 {
    font-size: 14px;
    color: white;
    font-weight: bolder;
}

.name-song-footer-left p {
    font-size: 10px;
}

.name-song-footer-left:hover p {
    color: white;
    text-decoration: underline;
}

/* footer center */

.footer-center {
    height: 100%;
    width: calc(100% - 460px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.buttons-footer-center, .playbar-footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-footer-center > div > i {
    padding: 0 15px;
    color: white;
}

.bigger-button-footer-center {
    font-size: 30px;
}

.bigger-button-footer-center:hover {
    font-size: 34px;
    padding: 0 11px;
}

.playbar-footer-center {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.playline-footer-center {
    width: 400px;
    height: 4px;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.playline-footer-center-bg-color {
    width: 100px;
    height: 4px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50px;
}

.playline-footer-center-bg-color:hover {
    width: 100px;
    height: 4px;
    background-color: lawngreen;
    border: 1px solid transparent;
    border-radius: 50px;
}

.time-footer-center {
    font-size: 14px;
    padding: 0 20px;
}

/* @media all and (max-width:576px) {
    .footer-left {width: 50%;}
    .image-album-footer-left {width: 50%;}
    .name-song-footer-left {width: 50%;}
    .icons-footer-left {width: 50%;}
    .width-img {width: 100%;}
    .footer-center {flex-shrink: 2;}
    .footer-end {width: 50%;}
} */

/* footer end */

.footer-end {
    display: flex;
    align-items: center;
    width: 230px;
    height: 100%;
    justify-content: space-between;
}

.list-footer-end, .desktop-footer-end,.volume-footer-end {
    width: 30px;
}

/* .volume-footer-end {
    width: 50px;
} */

.footer-end > div {
    font-size: 14px;
    color: white;
}

.playline-footer-end {
    width: 120px;
    height: 4px;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.playline-footer-end-bg-color {
    width: 40px;
    height: 4px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50px;
}

.playline-footer-end-bg-color:hover {
    width: 40px;
    height: 4px;
    background-color: lawngreen;
    border: 1px solid transparent;
    border-radius: 50px;
}

/* .playline-footer-center .fa-circle, .playline-footer-end .fa-circle {
    visibility: hidden;
} */

.icons-footer-left .fa-heart:hover, .icons-footer-left .fa-folder:hover {
    color: white;
}
