.container-fluid {
    max-height: 100vh;
}

main {
    background-color: rgba(20,25,34,255);
    height: calc(100vh - 90px);
    width: 100%;
}

footer {
    background-color: rgba(40,40,40,255);
    height: 90px;
    width: 100%;
}

main .sidebar {
    background-color: black;
}

.content {
    color: white;
}

.topbar {
    background-color: rgba(8,11,18,255);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar button {
    margin-right: 20px;
}

.navbar-text {
    background-color: brown;
    width: 100%;
    height: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.content {
    overflow-y: scroll;
    height: 100%;
}

.example {
    height: 200vh;
    width: 100%;
}